<div class="container">
  <div class="title">Card Detail for Officers</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">First Name</span>
          <input type="text" placeholder={{officer.firstName}} disabled>
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input type="text" placeholder={{officer.lastName}} disabled>
        </div>
        <div class="input-box">
          <span class="details">Nationality</span>
          <input type="text" placeholder={{officer.nationality}} disabled>
        </div>
        <div class="input-box">
          <span class="details">Title</span>
          <input type="text" placeholder={{officer.title}} disabled>
        </div>
        <div class="input-box">
          <span class="details" >Certificates</span>
          <textarea class="textarea" disabled>{{officer.certificates}}</textarea>
        </div>

      </div>

    </form>
  </div>
</div>
